// Font sizes
$font-root: 14px;
$font-med: 16px;
$font-large: 18px;
// Theme colors
$primary: #bb86fc;
$primaryVariant: #3600b370;
$secondary: #03dac6;
$secondaryVariant: #018786;
$background: #121212;
$surface: #252525;
$error: #cf6679;
$onPrimary: #000;
$onSecondary: #000;
$onBackground: #fff;
$onSurface: #fff;
$onError: #000;
// Mixins
@mixin media-med {
    @media screen and (min-width: 1023px) {
        @content;
    }
}

@mixin media-large {
    @media screen and (min-width: 1599px) {
        @content;
    }
}

@mixin transition-ease {
    transition: all 0.5s ease;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-column {
    @include flex-center;
    flex-direction: column;
}

@mixin flex-center-row {
    @include flex-center;
    flex-direction: row;
}