@import "config";

/** Common styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $font-root;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: $background;
    color: $onBackground;
}

#root,
.App {
    min-width: 100vw;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

main {
    @include flex-center-column;
    height: 100vh;
    input {
        height: 2.5rem;
    }
}

.mb3 {
    margin: 1rem 0;
    border-radius: 1rem;
    padding: 1.5rem;
    background-color: $surface;
    color: $onSurface;
}

.input-group-text {
    width: 25%;
    background-color: $surface;
    color: $onSurface;
}

.form-text {
    color: $onSurface;
}

.invalid-feedback {
    color: $error;
}

.btn {
    width: 100%;
    height: 3rem;
}

.btn-primary {
    border-color: $primary;
    background-color: $primary;
    color: $onPrimary;
}

@include media-med {
    html {
        font-size: $font-med;
    }
}

@include media-large {
    html {
        font-size: $font-large;
    }
}